html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

h1 {
  color: black;
  font-size: 40px;
}

#logo {
  width: 60px;
  border-radius: 50%;
  vertical-align: top;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background: whitesmoke;
  text-align: center;
  justify-content: space-between;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: black;
  padding: 16px;
  display: block;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: gainsboro;
  border-radius: 10px;
}

header {
  margin: 0;
}

.header-content {
  background-color: #ddd;
  margin: 16px;
  height: 60vh;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header-about .header-image {
  flex: 1;
  min-width: 300px;
}

.header-about {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 60%;
}

.header-about h1 {
  text-align: center;
}

.header-about h3 {
  color: rgb(179, 121, 14);
}

.header-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 40%;
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.services-header {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
}

.services-intro h2 {
  text-align: center;
  color: rgb(179, 121, 14);
}

.services-details {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  align-items: start;
}

.services-details h4 {
  color: rgb(179, 121, 14);
  text-align: center;
}

.service-list li {
  position: relative;
  padding-left: 16px;
  margin-bottom: 10px;
  text-align: left;
}

.services {
  padding-bottom: 100px;
  text-align: center;
}

.services h4 {
  font-size: 18px;
  color: rgb(179, 121, 14);
}

.services-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 16px;
}

.services-list,
.services-links {
  flex: 1;
  max-width: 400px;
  margin: 0 20px;
}

.services-list ul li {
  margin-bottom: 10px;
  text-align: start;
}

.services-links {
  margin-top: 10px;
}

.services-links a {
  display: block;
  margin-top: 20px;
  color: black;
  font-weight: bold;
}

.services-links a:hover {
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 6px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.services-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.services-table table {
  width: 70%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 0 10px #bebebe, -5px -5px 10px #fff;
  padding-bottom: 10px;
  overflow-x: auto;
}

.services-table table,
.services-table th,
.services-table td {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-top: 30px;
}

.contact-header {
  background-color: #ddd;
  text-align: left;
  padding: 16px;
  display: flex;
  align-items: center;
}

.contact-header p {
  color: black;
  margin-left: 100px;
}

.contact-header h1 {
  color: rgb(179, 121, 14);
  text-align: left;
  margin-left: 100px;
}

.contact-header h2 {
  text-align: left;
  color: rgb(179, 121, 14);
}

.contact-header .info {
  flex: 2;
}

.contact-header .details {
  flex: 1;
  padding: 16px;
}

.contact-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.contact-action {
  text-align: center;
  flex: 1 1 45%;
  max-width: 400px;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 0 10px #bebebe, -5px -5px 10px #fff;
}

.contact-button {
  display: block;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header-content {
    margin: 0;
    flex-direction: column;
    height: auto;
  }

  .header-about {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .header-button {
    width: 50%;
  }

  .services h1 {
    margin-left: 20px;
    text-align: start;
  }

  .services-content {
    flex-direction: column;
    align-items: start;
  }

  .services-list,
  .services-links {
    max-width: none;
    text-align: center;
  }

  .services-intro {
    text-align: left;
  }

  .services-intro h2 {
    text-align: left;
  }

  .services-details {
    flex-direction: column;
  }

  .services-table {
    padding-bottom: 120px;
  }

  .services-table table {
    width: 90%;
  }

  .contact-header {
    flex-direction: column;
  }

  .contact-header p {
    margin-left: 10px;
  }

  .contact-header h1 {
    text-align: left;
    margin-left: 10px;
  }

  .contact-header h2 {
    text-align: center;
  }

  .contact-action {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 70px;
    justify-content: center;
  }
}
